includes:
  - phpstan-baseline.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  tmpDir: data/phpstan
  cache:
      nodesByStringCountMax: 0
  level: 8
  fileExtensions:
  	- php
  paths:
    - src
    - tests
